.container{
background-color: #6E7171;
font-family: 'Pacifico', cursive;
font-size: 20px;
color:
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #F2F2F2, 0 0 10px #F2F2F2, 0 0 20px #1CE7E7, 0 0 30px #1CE7E7, 0 0 40px #1CE7E7, 0 0 50px #1CE7E7, 0 0 60px #1CE7E7;
  }
  to {
    text-shadow: 0 0 10px #F2F2F2, 0 0 20px #1CE7E7, 0 0 30px #1CE7E7, 0 0 40px #1CE7E7, 0 0 50px #1CE7E7, 0 0 60px #1CE7E7, 0 0 70px #1CE7E7;
  }
}
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
